#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8480480961564258,M12=0.529919264233205,M21=-0.529919264233205,M22=0.8480480961564258);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8480480961564258,M12=0.529919264233205,M21=-0.529919264233205,M22=0.8480480961564258);
  margin-left: -2px;
  margin-top: -6px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -3px;
  margin-top: -14px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_2 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_3 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_4 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_5 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_6 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_7 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_8 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_9 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_10 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_11 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Line_13 {
  rotation: 90.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-arrow_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-arrow_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Triangle_9 {
  rotation: 90.0;
  margin-left: -2px;
  margin-top: 2px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Triangle_10 {
  rotation: 270.0;
  margin-left: -2px;
  margin-top: 2px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0fd709cc-1007-4703-a447-df1b52541925 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}