#s-83c8c710-37f6-459b-8e72-06796434a738 > #backgroundBox {
  background-color: #231F20;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 > #alignmentBox {
  position: relative;
  max-width: 1600px;
  max-height: 1000px;
  margin: 0 auto;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 input::-webkit-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 input::-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 input:-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 input:-ms-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 {
  position: absolute;
  width: 195px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_4 > .paddingLayer {
  height: 38px;
  width: 172px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 input::-webkit-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 input::-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 input:-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 input:-ms-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 {
  position: absolute;
  width: 195px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_5 > .paddingLayer {
  height: 38px;
  width: 172px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Dropdown {
  position: absolute;
  width: 412px;
  height: 181px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Options {
  position: absolute;
  width: 412px;
  height: 136px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 {
  position: absolute;
  width: 412px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 > .clipping, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 > .paddingLayer {
  height: 44px;
  width: 395px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 6px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 {
  position: absolute;
  width: 412px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 > .clipping, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 > .paddingLayer {
  height: 44px;
  width: 395px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 6px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 {
  position: absolute;
  width: 412px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 > .clipping, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 > .paddingLayer {
  height: 44px;
  width: 395px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 6px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 input::-webkit-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 input::-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 input:-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 input:-ms-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 {
  position: absolute;
  width: 412px;
  height: 46px;
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_1 > .paddingLayer {
  height: 42px;
  width: 393px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow > svg {
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow {
  position: absolute;
  width: 19px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow > img, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow > svg {
  height: 10px;
  width: 19px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_3 {
  position: absolute;
  width: 80px;
  height: 40px;
  -webkit-transform: rotate(328deg);
  -moz-transform: rotate(328deg);
  transform: rotate(328deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_3 > img, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_3 > svg {
  height: 40px;
  width: 80px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_4 {
  position: absolute;
  width: 110px;
  height: 58px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_4 > img, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_4 > svg {
  height: 58px;
  width: 110px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 32.0pt;
  font-family: 'Arial',Arial;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 > .clipping, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 span {
  color: #FFDF00;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 32.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFDF00;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 32.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Dropdown_1 {
  position: absolute;
  width: 412px;
  height: 181px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Options_1 {
  position: absolute;
  width: 412px;
  height: 136px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 {
  position: absolute;
  width: 412px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 > .clipping, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 > .paddingLayer {
  height: 44px;
  width: 395px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 6px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 {
  position: absolute;
  width: 412px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 > .clipping, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 > .paddingLayer {
  height: 44px;
  width: 395px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 6px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 {
  position: absolute;
  width: 412px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 > .clipping, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 > .paddingLayer {
  height: 44px;
  width: 395px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 6px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 span#rtr-s-Rectangle_7_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 input::-webkit-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 input::-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 input:-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 input:-ms-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 {
  position: absolute;
  width: 412px;
  height: 46px;
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_2 > .paddingLayer {
  height: 42px;
  width: 393px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow_1 > svg {
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow_1 {
  position: absolute;
  width: 19px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow_1 > img, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow_1 > svg {
  height: 10px;
  width: 19px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 input::-webkit-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 input::-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 input:-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 input:-ms-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 {
  position: absolute;
  width: 412px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_6 > .paddingLayer {
  height: 38px;
  width: 389px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 input::-webkit-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 input::-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 input:-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 input:-ms-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 {
  position: absolute;
  width: 412px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_7 > .paddingLayer {
  height: 38px;
  width: 389px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 input::-webkit-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 input::-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 input:-moz-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 input:-ms-input-placeholder {
  color: #999999;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 {
  position: absolute;
  width: 412px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Input_8 > .paddingLayer {
  height: 38px;
  width: 389px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #231F20;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 {
  position: absolute;
  width: 412px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 > .clipping, #s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 > .paddingLayer {
  height: 44px;
  width: 410px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 span {
  color: #FFDF00;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFDF00;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}