#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_3 {
  -ms-transform: rotate(328.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_4 {
  -ms-transform: rotate(45.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow_1 {
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-83c8c710-37f6-459b-8e72-06796434a738 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}