#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8480480961564258,M12=0.529919264233205,M21=-0.529919264233205,M22=0.8480480961564258);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8480480961564258,M12=0.529919264233205,M21=-0.529919264233205,M22=0.8480480961564258);
  margin-left: -5px;
  margin-top: -19px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Image_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -5px;
  margin-top: -31px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-arrow_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83c8c710-37f6-459b-8e72-06796434a738 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}