#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}