#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 > #backgroundBox {
  background-color: #231F20;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 > #alignmentBox {
  position: relative;
  max-width: 1600px;
  max-height: 1000px;
  margin: 0 auto;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: url('../../images/c5e50b49-5ab0-4e60-8770-d257ab4013a3.jpeg');
  box-shadow: none;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 {
  position: absolute;
  width: 1233px;
  height: 647px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 > .clipping, #s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 > .paddingLayer {
  height: 647px;
  width: 1233px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Image_1 > svg {
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Image_1 {
  position: absolute;
  width: 309px;
  height: 248px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Image_1 > img, #s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Image_1 > svg {
  height: 248px;
  width: 309px;
  box-shadow: none;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #231F20;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 {
  position: absolute;
  width: 183px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 > .clipping, #s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 > .paddingLayer {
  height: 52px;
  width: 181px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 span {
  color: #FFDF00;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFDF00;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}