#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-a387b1a7-16a1-40f6-b9b7-d74f3cb979f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}