#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Image_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8480480961564258,M12=0.529919264233205,M21=-0.529919264233205,M22=0.8480480961564258);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8480480961564258,M12=0.529919264233205,M21=-0.529919264233205,M22=0.8480480961564258);
  margin-left: -5px;
  margin-top: -19px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Image_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -5px;
  margin-top: -30px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}