#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Line_1 {
  stroke-width: 2px;
  stroke: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Line_1 {
  stroke-width: 2px;
  stroke: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Image_3 {
  -ms-transform: rotate(328.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Image_4 {
  -ms-transform: rotate(45.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b59a2066-f3b7-46a0-ae64-38d093a9f115 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}