#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Image_3 {
  -ms-transform: rotate(328.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Image_4 {
  -ms-transform: rotate(45.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Line_1 {
  stroke-width: 2px;
  stroke: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Line_1 {
  stroke-width: 2px;
  stroke: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDF00;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-dcbb8269-0125-4602-83e7-e21c1ffcaa8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}